@font-face {
    font-family: karla;
    src: url(fonts/karla.bold.ttf);
}

@font-face {
    font-family: inter;
    src: url(fonts/Inter-Regular.otf);
}

body {
    background-color: #273549;
    color: #D5D4D8;
    font-family: inter;
   
}

h1 {
    font-family: karla;
}

.app-card {
    background-color: #1F2937;
    margin: 50px auto;
    border-radius: 10px;
    padding: 10px 50px;
    min-height: 550px;
    max-width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header {
   text-align: end;
   margin-top: 5px;
}

#night-mode {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
    margin-right: 1px;

}

#light-mode {
    width: 22px;
    height: 22px;
}

/* The switch */
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 14px;
  }
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(134, 131, 131);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 4px;
    bottom: 3px;
    background-color:#e2e1e6;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #10B981;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #10B981;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  

.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

.flex {
    display: flex;
    flex-direction: column;
}

.main {
    margin-top: 60px;
}

.title1 {
    color: #FFFFFF;
    margin-bottom: 0px;
}
.title2 {
    color: #4ADF86;
    margin-top: 0px;
    margin-bottom: 20px;
}

.subheader {
    margin-top: 0px;
    margin-bottom: 50px;
}

#gen-pswrd {
    padding: 10px 15px;
    background-color: #10B981;
    color: #FFFFFF;
    font-family: inter;
    font-weight: 300;
    font-size: medium;
    border: none;
    border-radius: 5px;
    transition: 0.2s all;
}

#gen-pswrd:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#gen-pswrd:active {
    transform: scale(0.95);
}

label {
    color: #FFFFFF;
}

#pswrd-length {
    background-color: #10B981;
    color: #FFFFFF;
    font-family: inter;
    font-size: medium;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: 0.2s all;
}

#pswrd-length:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#pswrd-length:active {
    border: #FFFFFF;
}

.output {
    margin-top: 30px;
    text-align: center;
    border-top: 3px solid #273549;
}

.text-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#pswrd-field {
    background-color: #273549;
    width: 350px;
    min-height: 50px;
    border-radius: 5px;
}

#pswrd {
    color: #4ADF86;
    
}


/* #lightmode *
body {
background-color: #D1D5DB;
}

.app-card {
    background-color: #F3F4F6;
}

.title1 {
    color: #2B283A;
}

label{
    color: #2B283A;
}

.subheader {
    color: #6B7280;
}

.output {
    color: #6B7280;
    border-top: 3px solid #D1D5DB;
}

#pswrd-field {
    background-color:#D1D5DB;
}

#pswrd {
    color: #10B981;
}

*/